@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    line-height: 1.5;
    font-size: 17px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    flex-flow: wrap;
}
.box{
    width: 270px;
    padding: 15px;
    min-height: 400px;
}
.box1{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
}
.box2{
    background-color:  hsl(184, 100%, 22%);
}
.box3{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
}
.content{
    padding: 10px;
}
.content h1{
    color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    margin: 20px 0 20px 0;
}
.content p{
    margin-right: 25px;
    color: hsla(0, 0%, 100%, 0.75) ;
    font-family:'Big Shoulders Display', cursive;
}
.button{
    margin: 60px 0;
    padding: 16px 30px;
    border-radius: 30px;
    border-style: none;
    cursor: pointer;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
}
.button1{
    color: hsl(31, 77%, 52%);
}
.button2{
    color:  hsl(184, 100%, 22%);
}
.button3{
    color: hsl(179, 100%, 13%);
}
.button:hover{
    background-color: inherit;
    border: 2px solid white;
    color: white;
    transition: 0.4s;
}

@media only screen and (max-width:600px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .box1{
        border-top-left-radius: 0;
        border-bottom-left-radius:0;
    }
    .box3{
        border-top-right-radius:0;
        border-bottom-right-radius:0;
    }
}